@import '_productStyle';
@import '_catalogStyle';
@import '_cartStyle';
@import '_registrationStyle';
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.box-content {
    overflow: hidden;
    position: relative;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    /* 570 это половина контентной части */
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #222;
    align-items: center;
    justify-content: space-between;
    // position: relative;
}

.logo_pic {
    transition: 0.3s;
}

.left_side {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 41px;
}

.logo_pic:hover {
    transform: scale(1.1);
}

.search_pic {
    transition: 0.3s;
}

.search_pic:hover {
    transform: scale(1.1);
}

.right_side {
    display: flex;
    gap: 25px;
    align-items: center;
}

.right_menu1 {
    transition: 0.3s;
}

.right_menu1:hover {
    transform: scale(1.1);
}

.burger_checkbox {
    position: absolute;
    left: -9999999px;
    visibility: hidden;
}

.burger_checkbox:checked~.burger_menu {
    right: 0;
}

.burger_menu {
    background: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 82px;
    right: -232px;
    transition: right 0.3s;
}

.burger_menu_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.burger_menu_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
}

.burger_menu_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.burger_menu_list {
    list-style-type: none;
    padding-left: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
}

.burger_menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.burger_menu_link:hover {
    color: #F16D7F;
}

.right_menu2 {
    transition: 0.3s;
}

.right_menu2:hover {
    transform: scale(1.1);
}

.right_menu3 {
    transition: 0.3s;
}

.right_menu3:hover {
    transform: scale(1.1);
}

.top {
    height: 764px;
    background-color: #F1E4E6;
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    margin-left: -230px;
}

.man_picture {
    height: 764px;
    min-width: 800.58px;
    margin-right: 63px;
}

.brand_name {
    margin-top: 290px;
    margin-bottom: 381px;
    display: flex;
}

.brand_title {
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 93px;
}

.pink_line {
    margin-right: 16px;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle-color {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_menu {
    display: grid;
    margin-top: 65px;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.menu_item1 {
    width: 360px;
    height: 260px;
    background-image: url(img/for_women.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s
}

.menu_item1:hover {
    transform: scale(1.01);
}

.menu_item2 {
    width: 360px;
    height: 260px;
    background-image: url(img/for_men.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s
}

.menu_item2:hover {
    transform: scale(1.01);
}

.menu_item3 {
    width: 360px;
    height: 260px;
    background-image: url(img/for_kids.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s
}

.menu_item3:hover {
    transform: scale(1.01);
}

.menu_item4 {
    grid-column: span 3;
    height: 260px;
    background-image: url(img/accesories.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s
}

.menu_item4:hover {
    transform: scale(1.01);
}

.item_text {
    text-align: center;
}

.desc_item {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name_item {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.featured_items {
    margin-top: 96px;
    margin-bottom: 95.5px;
}

.featured_title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.featured_describtion {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    text-align: center;
}

.catalogue {
    display: grid;
    margin-top: 48px;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    margin-bottom: 48px;
}

.item_info {
    display: flex;
    padding-top: 0px;
    padding-bottom: 24px;
    flex-direction: column;
    background-color: #F8F8F8;
    position: relative;
    transition: 0.3s;
}

.item_info:hover {
    transform: scale(1.01);
}

.item_picture {
    transition: 0.3s;
}

.item_info:hover .item_picture {
    filter: brightness(0.5);
}

.item_info:hover .product_add {
    display: flex;
    opacity: 1;
}

.product_add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: #fff solid 1px;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
    z-index: 1;
}

.product_add:hover {
    box-shadow: 0 0 5px #fff;
}

.product_add:hover svg path {
    fill: #F16D7F;
}

.picture2 {
    height: 420px;
    width: 360px;
    background-color: #F7E4E2;
}

.item_name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
    padding-left: 16px;
}

.item_desctibtion {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 16px;
    padding-left: 16px;
    max-width: 314px;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
    padding-left: 16px;
}

.browse_button {
    text-align: center;
    display: block;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: #FF6A6A;
    background-color: transparent;
    padding: 15px 39px 14px 39px;
    border-style: solid;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}

.browse_button:hover {
    color: white;
    background-color: #F16D7F;
}

.advantages {
    display: flex;
    flex-direction: row;
    background-color: #222224;
    padding-bottom: 104px;
    gap: 30px;
}

.advantage {
    display: flex;
    flex-direction: column;
    padding-top: 103px;
    align-items: center;
}

.icon1 {
    padding-bottom: 28px;
}

.icon2 {
    padding-bottom: 19px;
}

.icon3 {
    padding-bottom: 25px;
}

.advantage_title {
    padding-bottom: 16px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.adv_describtion {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 360px;
}

.subscribe {
    background-image: url(img/subscribe.jpg);
    padding-top: 86px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.quotation {
    display: flex;
    flex-direction: column;
    align-items: center
}

.photo_person {
    width: 96px;
    height: 96px;
    margin-bottom: 30px;
}

.quote {
    width: 359.449px;
    text-align: center;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quote_italic {
    font-style: italic;
}

.subscribe_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribtion_title {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    max-width: 557px;
    margin-bottom: 32px;
}

.subscribtion_subtitle {
    font-size: 18px;
    font-weight: 400;
}

.subscribtion_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subscribe__mail {
    width: 256px;
    height: 49px;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: #e1e1e1;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.subscribe__btn {
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background-color: #f16d7f;
    width: 100px;
    height: 49px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -5px;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 79px;
    background-color: #222224;
    align-items: center;
    justify-content: space-between;
}

.rights {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 332px;
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.icon_media {
    width: 32px;
    height: 32px;
    background-color: #FFF;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_media:hover {
    background-color: #F16D7F;
}

.icon_media:hover path {
    fill: white;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 369px);
        padding-right: calc(50% - 369px);
        /* тут есть зазоры с друх сторон по 8px
        (770-32)/2. 16px зазоры с двух сторон */
    }
    .header {
        height: 74px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .logo_pic {
        padding-left: 16px;
    }
    .right_menu3 {
        padding-right: 25px;
    }
    .top {
        height: 368px;
        margin-left: -16px;
    }
    .man_picture {
        height: 368px;
        min-width: 386px;
        margin-right: 39px;
    }
    .brand_name {
        margin-top: 138.1px;
        margin-bottom: 151.47px;
    }
    .brand_title {
        width: 283px;
        height: 78px;
    }
    .title {
        font-size: 44px;
    }
    .subtitle {
        font-size: 24px;
    }
    .subtitle-color {
        font-size: 24px;
    }
    .top_menu {
        gap: 19px;
        grid-template-columns: repeat(3, 231.973px);
    }
    .menu_item1 {
        width: 231.973px;
        height: 167.617px;
    }
    .menu_item2 {
        width: 231.973px;
        height: 167.617px;
    }
    .menu_item3 {
        width: 231.973px;
        height: 167.617px;
    }
    .menu_item4 {
        height: 116px;
    }
    .featured_items {
        margin-top: 109.92px;
        margin-bottom: 70.52px;
    }
    .catalogue {
        display: grid;
        margin-top: 73px;
        gap: 17px;
        grid-template-columns: repeat(2, 360px);
        margin-bottom: 32.5px;
    }
    .item_info {
        padding-bottom: 20px;
    }
    .item_name {
        padding-left: 18px;
    }
    .item_desctibtion {
        padding-top: 12.65px;
        padding-left: 16.5px;
    }
    .price {
        padding-top: 18px;
        padding-left: 18px;
    }
    .advantages {
        display: flex;
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
        gap: 48.47px;
        justify-content: center;
    }
    .advantage {
        padding-top: 0px;
    }
    .adv_describtion {
        max-width: 360px;
    }
    .subscribe {
        padding-top: 54px;
        padding-bottom: 140px;
        flex-direction: column;
        justify-content: start;
        gap: 48px;
        background-position: left;
    }
    .quotation {
        padding-top: 0px;
    }
    .quote {
        height: 99px;
    }
    .subscribe_text {
        padding-top: 0px;
    }
    .subscribtion_title {
        margin-bottom: 27px;
    }
    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
    .rights {
        width: 251px;
    }
}

@media (max-width:767px) {
    .center {
        padding-left: calc(50% - 204.5px);
        padding-right: calc(50% - 204.5px);
        /* тут есть зазоры с друх сторон по 8px
        (424-16)/2. 8px зазоры с двух сторон */
    }
    .header {
        height: 74px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .top {
        height: 363px;
        margin: auto;
        justify-content: center;
    }
    .right_side {
        gap: 0px;
        padding-right: 16px;
    }
    .right_menu2 {
        display: none;
    }
    .right_menu3 {
        display: none;
    }
    .man_picture {
        display: none;
    }
    .brand_name {
        align-items: center;
    }
    .brand_title {
        width: 236px;
        height: 66px;
    }
    .pink_line {
        margin-right: 15px;
    }
    .title {
        font-size: 38px;
    }
    .subtitle {
        font-size: 20px;
    }
    .subtitle-color {
        font-size: 20px;
    }
    .top_menu {
        margin-top: 64px;
        gap: 32px;
        grid-template-columns: repeat(1, 343px);
    }
    .menu_item1 {
        width: 343px;
        height: 247px;
    }
    .menu_item2 {
        width: 343px;
        height: 247px;
    }
    .menu_item3 {
        width: 343px;
        height: 247px;
    }
    .menu_item4 {
        grid-column: span 1;
        width: 343px;
        height: 111px;
    }
    .featured_items {
        margin-top: 64px;
        margin-bottom: 85px;
    }
    .featured_describtion {
        margin-top: 3.3px;
    }
    .catalogue {
        margin-top: 64.7px;
        gap: 16.61px;
        grid-template-columns: repeat(1, 360px);
        margin-bottom: 40.61px;
        justify-content: center;
    }
    .item_info {
        padding-bottom: 19.9px;
    }
    .item_name {
        padding-left: 18px;
    }
    .item_desctibtion {
        padding-top: 12.62px;
        padding-left: 16px;
    }
    .price {
        padding-top: 17.95px;
        padding-left: 18.36px;
    }
    .advantages {
        gap: 46px;
        padding-bottom: 81px;
    }
    .adv_describtion {
        max-width: 347px;
    }
    .subscribe {
        padding-bottom: 109px;
        gap: 59px;
    }
    .photo_person {
        width: 91px;
        height: 91px;
        margin-bottom: 29px;
    }
    .quote {
        width: 343px;
        font-size: 18px;
        height: 73px;
    }
    .quote_italic {
        font-style: italic;
        font-size: 18px;
    }
    .subscribtion_subtitle {
        font-size: 14px;
    }
    .subscribtion_title {
        margin-bottom: 22px;
        height: 54px;
        max-width: 271px;
    }
    .footer {
        flex-direction: column-reverse;
        height: 143px;
        background-color: #222224;
        justify-content: start;
        padding-left: 0px;
        padding-right: 0px;
    }
    .social_media {
        margin-bottom: 40px;
        margin-top: 43px;
    }
    .subscribe__mail {
        width: 205px;
        height: 46px;
        padding-left: 21px;
        padding-right: 21px;
    }
    .subscribe__btn {
        width: 95px;
        height: 46px;
        /* margin-left: -5px; */
    }
}